<a href="https://colab.research.google.com/github/DebasisBehera-164/DMDW-LAB-02/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
from scipy import stats

In [3]:
import pandas as pd

In [4]:
dataset=pd.read_csv(r"https://raw.githubusercontent.com/DebasisBehera-164/DMDW-LAB-02/main/election%20dataset.csv")
dataset

              handle                 name  ... state of residence children
0       @sethmoulton         Seth Moulton  ...                 MA        1
1     @SenGillibrand   Kirsten Gillibrand  ...                 NY        2
2      @Hickenlooper    John Hickenlooper  ...                 CO        1
3       @JohnDelaney         John Delaney  ...                 MD        4
4      @KamalaHarris        Kamala Harris  ...                 CA        0
5          @JoeBiden            Joe Biden  ...                 DE        4
6           @TimRyan             Tim Ryan  ...                 OH        1
7           @ewarren     Elizabeth Warren  ...                 MA        2
8   @realDonaldTrump         Donald Trump  ...                 NY        5
9      @JulianCastro        Julian Castro  ...                 TX        2
10     @BilldeBlasio       Bill de Blasio  ...                 NY        2
11    @marwilliamson  Marianne Williamson  ...                 TX        1
12    @BernieSanders       Bernie Sanders  ...                 VT        4
13       @CoryBooker          Cory Booker  ...                 NJ        0
14       @mike_pence           Mike Pence  ...                 IN        3
15       @AndrewYang          Andrew Yang  ...                 NY        2
16     @ericswalwell        Eric Swalwell  ...                 CA        2
17       @MikeGravel          Mike Gravel  ...                 CA        2
18        @JayInslee           Jay Inslee  ...                 WA        3
19  @GovernorBullock        Steve Bullock  ...                 MT        3
20    @MichaelBennet       Michael Bennet  ...                 CO        3
21      @BetoORourke        Beto O'Rourke  ...                 TX        3
22    @PeteButtigieg       Pete Buttigieg  ...                 IN        0
23     @TulsiGabbard        Tulsi Gabbard  ...                 HI        0
24     @amyklobuchar        Amy Klobuchar  ...                 MN        1
25      @WayneMessam         Wayne Messam  ...                 FL        3
26      @GovBillWeld            Bill Weld  ...                 NY        5

[27 rows x 9 columns]

In [5]:
dataset.head()

           handle                name  ... state of residence children
0    @sethmoulton        Seth Moulton  ...                 MA        1
1  @SenGillibrand  Kirsten Gillibrand  ...                 NY        2
2   @Hickenlooper   John Hickenlooper  ...                 CO        1
3    @JohnDelaney        John Delaney  ...                 MD        4
4   @KamalaHarris       Kamala Harris  ...                 CA        0

[5 rows x 9 columns]

In [6]:
dataset.shape

(27, 9)

In [7]:
dataset.columns

Index(['handle', 'name', 'sex', 'born', 'announcement', 'party',
       'city of residence', 'state of residence', 'children'],
      dtype='object')

In [8]:
dataset.info

<bound method DataFrame.info of               handle                 name  ... state of residence children
0       @sethmoulton         Seth Moulton  ...                 MA        1
1     @SenGillibrand   Kirsten Gillibrand  ...                 NY        2
2      @Hickenlooper    John Hickenlooper  ...                 CO        1
3       @JohnDelaney         John Delaney  ...                 MD        4
4      @KamalaHarris        Kamala Harris  ...                 CA        0
5          @JoeBiden            Joe Biden  ...                 DE        4
6           @TimRyan             Tim Ryan  ...                 OH        1
7           @ewarren     Elizabeth Warren  ...                 MA        2
8   @realDonaldTrump         Donald Trump  ...                 NY        5
9      @JulianCastro        Julian Castro  ...                 TX        2
10     @BilldeBlasio       Bill de Blasio  ...                 NY        2
11    @marwilliamson  Marianne Williamson  ...                 TX        1
12    @BernieSanders       Bernie Sanders  ...                 VT        4
13       @CoryBooker          Cory Booker  ...                 NJ        0
14       @mike_pence           Mike Pence  ...                 IN        3
15       @AndrewYang          Andrew Yang  ...                 NY        2
16     @ericswalwell        Eric Swalwell  ...                 CA        2
17       @MikeGravel          Mike Gravel  ...                 CA        2
18        @JayInslee           Jay Inslee  ...                 WA        3
19  @GovernorBullock        Steve Bullock  ...                 MT        3
20    @MichaelBennet       Michael Bennet  ...                 CO        3
21      @BetoORourke        Beto O'Rourke  ...                 TX        3
22    @PeteButtigieg       Pete Buttigieg  ...                 IN        0
23     @TulsiGabbard        Tulsi Gabbard  ...                 HI        0
24     @amyklobuchar        Amy Klobuchar  ...                 MN        1
25      @WayneMessam         Wayne Messam  ...                 FL        3
26      @GovBillWeld            Bill Weld  ...                 NY        5

[27 rows x 9 columns]>

In [9]:
dataset.describe()

        children
count  27.000000
mean    2.185185
std     1.468569
min     0.000000
25%     1.000000
50%     2.000000
75%     3.000000
max     5.000000

In [12]:
dataset.duplicated().sum()

0

In [13]:
dataset.isnull().sum()

handle                0
name                  0
sex                   0
born                  0
announcement          2
party                 0
city of residence     0
state of residence    0
children              0
dtype: int64